<!-- <div class="container">
    <div class="add-form">

        <div class="title-section mb-5">
            <h5>
                Girşte sor
            </h5>
            <a [routerLink]="['../auth']" class="btn btn-link">Go Back</a>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-xs-12">
                <div class="alert alert-danger" *ngIf="error">
                    <p>{{ error }}</p>
                </div>

                <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                    <div class="form-group">
                        <label for="email">E-Mail</label>

                        <input type="email" id="email" class="form-control" ngModel name="email" required email />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
                            Reset Password
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div> -->