<div class="container">
    <div class="list-section1">
        <div class="title-section">
            <h5>
                
            </h5>
        </div>

        <div class="payments mt-4">

            <div class="p1">
                <img src="">
                <p>
                </p>
            </div>

            <div class="p1">
                <img src="">
                <p>
                </p>
            </div>


            <div class="p1">
                <img src="">
                <p>
                </p>
            </div>


            <div class="p1">
                <img src="">
                <p>
                </p>
            </div>

        </div>
    </div>
</div>