<div class="container">
    <div class="title-section">
        <h5>
            Hakkımızda Düzenle
        </h5>

        <button class="btn btn-add btn-primary" (click)="goBack()">Geri</button>
    </div>
    <div class="add-form">
        <form class="login-box" [formGroup]="aboutForm" (ngSubmit)="submitForm()">
            <div class="form-row row">
                <div class="col-md-12">
                    <label>Sayfa Başlığı<span class="error-red">*</span></label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="title">
                        <div class="error" *ngIf="f.title.invalid && ( (f.title.dirty || f.title.touched))">
                            <div *ngIf="f.title.errors.required">
                                Hakkında Başlık gereklidir.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row row">
                <div class="col-md-12">
                    <label>Sayfa<span class="error-red">*</span></label>
                    <div class="form-group">
                        <ckeditor [config]="config" data="<p>Some initial data</p>" type="classic" formControlName="body"></ckeditor>
                        <div class="error" *ngIf="f.body.invalid && ( (f.body.dirty || f.body.touched))">
                            <div *ngIf="f.body.errors.required">
                                Sayfa gereklidir.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-button">
                <button type="submit" class="btn btn-common  btn-success butn" [disabled]="!aboutForm.valid">Güncelle</button>
                <button type="button" class="btn btn-common  btn-danger butn" (click)="goBack()">İptal</button>
            </div>

        </form>
    </div>