<div class="container">
    <div class="list-section1">
        <div class="title-section">
            <h5>
                {{aboutSection?.title || 'About Section'}}
            </h5>

            <button class="btn btn-add btn-primary" (click)="EditAbout(aboutSection?.key)">Hakkımızda </button>
        </div>

        <div class="preview mt-4">
            <ng-container *ngIf="!aboutSection?.body">
                <p>Belgeye erişim izniniz yok</p>
            </ng-container>
            <div class="about-view" [innerHtml]="aboutSection?.body">
            </div>
        </div>
    </div>
</div>