<div class="container">
    <div class="title-section">
        <h5>
            Ürün Ekle
        </h5>

        <button class="btn btn-add btn-primary" (click)="goBack()">Geri</button>
    </div>
    <div class="add-form">
        <form class="login-box" [formGroup]="bookForm" (ngSubmit)="submitForm()">
            <div class="form-row row">
                <div class="col-md-12">
                    <label>Başlık<span class="error-red">*</span></label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="title">
                        <div class="error" *ngIf="f.title.invalid && ( (f.title.dirty || f.title.touched))">
                            <div *ngIf="f.title.errors.required">
                                Başlık girmek zorunlu!!!
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row row">
                <div class="col-md-12">
                    <label>Ürün Bilgisi<span class="error-red">*</span></label>
                    <div class="form-group">
                        <textarea class="form-control" rows="4" formControlName="description">

                        </textarea>

                        <div class="error" *ngIf="f.description.invalid && ( (f.description.dirty || f.description.touched))">
                            <div *ngIf="f.description.errors.required">
                                Ürün Bilgisi girmek zorunlu!!!
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row row">
                <div class="col-md-12">
                    <label>Ürünü Yayınlayan Kişi<span class="error-red">*</span></label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="author">
                        <div class="error" *ngIf="f.author.invalid && ( (f.author.dirty || f.author.touched))">
                            <div *ngIf="f.author.errors.required">
                                Ürünü Yayınlayan Kişi girmek zorunlu!!!
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row row">
                <div class="col-md-12">
                    <label>Ürün url<span class="error-red">*</span></label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="url">
                        <div class="error" *ngIf="f.url.invalid && ( (f.url.dirty || f.url.touched))">
                            <div *ngIf="f.url.errors.required">
                                url geçersiz
                            </div>
                            <div *ngIf="f.url.errors.pattern">
                                Ürünü url girmek zorunlu!!!
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fileupload">
                <div *ngIf="currentFileUpload" class="progress mt-2">
                    <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
                        {{ percentage }}%
                    </div>
                </div>
            </div>
            <div class="form-row row">
                <div class="col-md-12">
                    <label>Ürün Resm ekle<span class="error-red">*</span></label>
                    <div class="form-group">

                        <input id="file-input" type="file" #myFileInput (change)="selectFile($event)" />
                    </div>
                </div>
            </div>

            <div class="form-row row img-preview" *ngIf="f.thumbnail.value && !isLoading">
                <div class="col-md-12">

                    <div class="form-group">
                        <img src={{f.thumbnail.value}} width="400">
                    </div>
                </div>
            </div>

            <div class="flex-button">
                <button type="submit" class="btn btn-common  btn-success butn" [disabled]="!bookForm.valid">Kayıt</button>
                <button type="button" class="btn btn-common  btn-danger butn" (click)="goBack()">İptal</button>
            </div>

        </form>
    </div>
</div>

<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Uyarı!!!</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="hideModal()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Ürün Resminiz tam olarak yüklenmedi. Geri dönerseniz yaptığınız değişiklikler kaydedilmez. Lütfen bir süre bekleyin resim yükleme devam ediyor            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="hideModal()">İptal</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="goToBook()">Geri çık</button>
            </div>

        </div>
    </div>