<div class="footer footer-16371">
    <div class="container">
        <div class="col-lg-4 col-md-4 text-center vertical-center">
            <div class="social contact-us mb-1 float-left">
                <h3>İetişim</h3>
                <!-- <div class="contact-detail">

                    <p>
                        <i class="fa fa-phone"></i>AIFASOFT ekibinin bir üyesiyle konuşun
                        +90 (212) 603 24 32
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i>Alternatif olarak bize e-posta gönderin
                        info@aifasoft.com
                    </p>
                </div> -->
            </div>

        </div>

        <div class="row justify-content-center">
            
            <div class="col-md-8 text-center">

                <div class="social vertical-center">
                    <ul class="list-unstyled">

                        <!-- <a href="#" class="fa fa-medium"></a> -->
                        <a href="https://twitter.com/aifasoft" class="fa fa-twitter"></a>
                        <a href="https://www.youtube.com/channel/UCabPj8z-7Me5bF1nrxh98jg" class="fa fa-youtube"></a>
                        <a href="https://www.instagram.com/aifasoft/" class="fa fa-instagram"></a>
                        <!-- <a href="https://github.com/mehulk05/" class="fa fa-github"></a> -->
                        <!-- <a href="javascript:void(0)" class="fa fa-share-alt" (click)="shareLink()"></a> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>